<li class="entry">
  {{#if this.isToggleable}}
    <span class="key is-toggleable" {{on "click" this.toggleExpanded}}>
      <span class="key-expansion-state">
        {{#if this.isExpanded}}
        +
        {{else}}
        -
        {{/if}}
      </span>
      {{@key}}:
    </span>
  {{else}}
    <span class="key">
      {{@key}}:
    </span>
  {{/if}}
  <ValueViewer @value={{@value}} @showSummary={{not this.isExpanded}} @depth={{inc @depth}} @showInline={{this.showInline}}/>
  <span class="entry-delimiter">
    ,
  </span>
</li>