{{#if this.isPrimitive}}
  <span class="value primitive">
    <SimpleValue @value={{this.value}} @path={{concat this.path "@"}} />
  </span>
{{else}}
  <span class="prefix" data-path={{concat this.path "<"}}>
    {{this.prefix}}
  </span>

  {{#if this.showSummary}}
    <span class="entries-summary" data-test-entry-summary={{this.path}}>
      {{this.valueSummary}}
    </span>
  {{else}}
    <ul class="entries depth-{{this.depth}}">
      {{#if this.isObj}}
        {{#each-in this.value as |key innerValue|}}
          <EntryViewer
            @key={{key}}
            @value={{innerValue}}
            @depth={{this.depth}}
            @path={{concat this.path "." key}}
            @displayOptions={{this.displayOptions}}
            @isLast={{is-last this.value key}}
          />
        {{/each-in}}
      {{else}}
        {{#each this.value as |innerValue index|}}
          <li class="entry">
            <ValueViewer
              @value={{innerValue}}
              @depth={{this.depth}}
              @path={{concat this.path "[" index "]"}}
              @displayOptions={{this.displayOptions}}
            />
            {{#if (not (is-last this.value index))}}
              {{! In order for copy/paste to work, there cannot be extra whitespace around the delimiter }}
              <span class="entry-delimiter" data-path={{concat this.path "[" index "]" "@" ","}}>,</span>
            {{/if}}
          </li>
        {{/each}}
      {{/if}}
    </ul>
  {{/if}}

  <span class="suffix" data-path={{concat this.path ">"}}>
    {{this.suffix}}
  </span>
{{/if}}
