<li class="entry">
  {{#if this.isToggleable}}
    <span class="key is-toggleable" {{action "toggleExpanded"}}>
      <span class="key-expansion-state">
        {{#if this.isExpanded}}
          {{{this.expandedIcon}}}
        {{else}}
          {{{this.collapsedIcon}}}
        {{/if}}
      </span>
      <span data-path={{this.path}}>
        {{! In order for copy/paste to work, the quoted key (e.g. '"foo": ')
          must be a single text node
        }}
        {{quotedKey}}
      </span>
    </span>
  {{else}}
    <span class="key" data-path={{this.path}}>
      {{! In order for copy/paste to work, the quoted key (e.g. '"foo": ')
        must be a single text node
      }}
      {{quotedKey}}
    </span>
  {{/if}}
  {{value-viewer
    value=this.value
    showSummary=(not this.isExpanded)
    depth=(inc this.depth)
    displayOptions=this.displayOptions
    path=this.path
  }}
  {{#unless this.isLast}}
    {{! In order for copy/paste to work, there cannot be extra whitespace around the delimiter }}
    <span class="entry-delimiter" data-path={{concat this.path "@" ","}}>,</span>
  {{/unless}}
</li>