{{#if this.isPrimitive}}
  <span class="value primitive">
    {{simple-value value=this.value path=(concat this.path "@")}}
  </span>
{{else}}
  <span class="prefix" data-path={{concat this.path "<"}}>
    {{this.prefix}}
  </span>

  {{#if this.showSummary}}
    <span class="entries-summary" data-test-entry-summary={{this.path}}>
      {{this.valueSummary}}
    </span>
  {{else}}
    <ul class="entries depth-{{depth}}">
      {{#if this.isObj}}
        {{#each-in value as |key innerValue|}}
          {{entry-viewer
            key=key
            value=innerValue
            depth=this.depth
            path=(concat this.path "." key)
            displayOptions=this.displayOptions
            isLast=(is-last value key)
          }}
        {{/each-in}}
      {{else}}
        {{#each value as |innerValue index|}}
          <li class="entry">
            {{value-viewer
              value=innerValue
              depth=this.depth
              path=(concat this.path "[" index "]")
              displayOptions=this.displayOptions
            }}
            {{#unless (is-last value index)}}
              {{! In order for copy/paste to work, there cannot be extra whitespace around the delimiter }}
              <span class="entry-delimiter" data-path={{concat this.path "[" index "]" "@" ","}}>,</span>
            {{/unless}}
          </li>
        {{/each}}
      {{/if}}
    </ul>
  {{/if}}

  <span class="suffix" data-path={{concat this.path ">"}}>
    {{this.suffix}}
  </span>
{{/if}}