{{#if this.isPrimitive}}
  <span class="value primitive" title="{{concat this.path "@"}}">
    {{simple-value value=this.value}}
  </span>
{{else}}
  <span title={{this.path}}>
  <span class="prefix">
    {{this.prefix}}
  </span>

  {{#if this.showSummary}}
    <span class="entries-summary">
      {{this.valueSummary}}
    </span>
  {{else}}
    <ul class="entries depth-{{depth}} {{if this.showInline "entries-inline"}}">
      {{#if this.isObj}}
        {{#each-in value as |key value|}}
          {{entry-viewer
            key=key
            value=value
            depth=this.depth
            path=(concat this.path "." key)
            displayOptions=this.displayOptions
          }}
        {{/each-in}}
      {{else}}
        {{#each value as |value index|}}
          <li class="entry">
            {{value-viewer
              value=value
              depth=this.depth
              path=(concat this.path "[" index "]")
              displayOptions=this.displayOptions
            }}
            <span class="entry-delimiter">
              ,
            </span>
          </li>
        {{/each}}
      {{/if}}
    </ul>
  {{/if}}

  <span class="suffix">
    {{this.suffix}}
  </span>
  </span>
{{/if}}